<!doctype html>
<html>
<head>
	<meta name="description"
		content="Professional portfolio - Dora Jambor"/>
	<title>
		Dora Jambor
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	{% block head_js%}
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script src="display.js"></script>
	{% endblock %}
	<link rel="icon"  href="maizy.png">
</head>
<body>
 	{% block content %}{% endblock %}
 	<footer class = "post-footer"></footer>
	<p id"signiture" style="color:rgb(102, 102, 102); font-size:12px; font-style:italic; padding-bottom:10px;">Handcrafted in New York City, design &amp; code by <br>Dora Jambor</p>
</body>
<html>


